/* 
/* 
darker
rgb(109, 49, 237) 
lighter
rgb(177, 145, 245)
*/
body {
  margin: 0 auto;
}
main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  height: fit-content;
}

h2 {
  font-family: "lexend";
  font-size: 42px;
  text-align: center;
  line-height: 2;
  margin-top: 15vh;
}

input {
  height: 3rem;
  display: block;    
  font-size: 20px;
  transition: all 200ms ease;
  border: 0;
  padding: 0 calc(3rem * 0.5);
  box-shadow: 0 0 1rem rgb(109, 49, 237, 40%);
  border-radius: calc(3rem * 0.5);
  width: 25vw;
}